body{
    
}

#banner{
    width: 100%;
}

.principal{
    background:#cccccc;
    padding: 30px;
}


h1{
     text-align: center;
}

p{
    text-align: center;
} 
#missão{
    font-size: 20px;
}

em strong{
    color:red;
    }

    .itens{
    front-style: italic
    }    

    .beneficios{
backgriund: #ffffff;





    .beneficios{
        backgraund: #ffffff;
        padding: 20px;
 }

 h2{

 }

 u1{
    display: inline-block;
    
